$primaryPink: #ec2059;
* {
    font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
    color: grey;
}

.branding {
    padding: 20px 0 50px 0;
}

.hero-image {
    background-image: url('../img/HeroImage_plane_green.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-left: 50px;
    padding-right: 0;
    background-position: left top;
}

h1 {
    color: white;
    font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 3.5em;
}

h2 {
    color: grey;
    font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
}

#hero p {
    color: white;
    font-size: 1.5em;
}

.logo-row {
    padding: 40px 50px;
}

.logos {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button.main-cta {
    background-color: #ec2059;
    border-radius: 4px;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 50px;
}

.button.main-cta:hover {
    background-color: darken(#ec2059, 10);
}

.features-block {
    background-image: url('../img/features_background.jpg');
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    padding: 40px 50px;
    text-align: center;
}

h3 {
    font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
}

h4 {
    font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
    color: grey;
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 20px;
}

#lowerCTA p {
    font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
    color: white;
    font-size: 1em;
    font-weight: normal;
    margin-top: 20px;
    letter-spacing: 2px;
}

.feature-sub {
    font-size: .9em;
    color: white;
    margin: 5px 0;
    display: block;
    font-weight: 700;
}

#features p {
    color: white;
    margin: 0 20px 30px 30px;
    font-size: 1em;
    line-height: 1.3em;
}

#features h1 {
    font-weight: bold;
    margin-bottom: 40px;
    font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
    font-size: 2em;
    letter-spacing: 4px;
}

.testimonial-block {
    background-image: url('../img/testimonial_background.jpg');
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    padding: 40px 50px;
    text-align: center;
}

.screen-shots {
    padding-right: 0;
}

#testimonial p {
    font-size: .9em;
    margin-top: 20px;
    letter-spacing: 2px;
}

.laptop {
    float: right;
    margin: 40px 0;
}

.headshot {
    margin-top: 70px;
    width: 120px;
}

.lower-cta {
    background-image: url('../img/lower_CTA_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 250px;
}

#lowerCTA img {
    margin-top: 50px;
}

.bold {
    font-weight: bold;
    color: white;
}

hr {
    border-bottom-color: white;
    border-bottom-width: 1px;
    width: 30%;
}

.button.lower {
    background-color: rgba(236, 32, 89, 0.0);
    border: 1px solid white;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.button.lower:hover {
    background-color: white;
    border: 1px solid white;
    color: #ec2059;
    border-radius: 4px;
}

footer {
    background: #6A6C75;
    padding: 75px 0;
}

footer img {
    margin-bottom: 30px;
}

footer p {
    color: white;
    font-size: .8em;
}

#PendoLP_modal {
    background-color: rgba(236, 32, 89, 0.8);
}

.mktoForm .mktoLabel {
    display: none
}

.mktoForm .mktoOffset {
    float: left;
    height: 0!important;
    width: 10px!important
}

.mktoForm .mktoLabel {
    float: left;
    line-height: 0!important;
    padding: 0!important
}

.mktoForm {
    width: 80%!important
}

.mktoButtonRow,
.mktoFieldWrap,
.mktoFormRow {
    width: 100%
}

.mktoFormRow {
    line-height: 5px!important
}

.mktoForm input[type=date],
.mktoForm input[type=email],
.mktoForm input[type=number],
.mktoForm input[type=tel],
.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm select.mktoField,
.mktoForm textarea.mktoField {
    width: 100%!important
}

.mktoFormCol {
    width: 100%
}

.mktoFieldWrap {
    box-sizing: border-box
}

.mktoFormCol:nth-child(even) .mktoFieldWrap {
    padding-right: 0!important
}

.mktoButtonRow {
    text-align: center!important
}

.mktoForm .mktoLabel {
    width: 150px!important
}

.mktoButtonWrap {
    margin-left: 0!important;
    margin-top: 15px!important
}

.mktoForm .mktoAsterix {
    float: left;
    color: #bf0000;
    padding-right: 5px;
    display: none
}

.mktoForm .mktoFieldDescriptor {
    margin-top: -5px!important
}

@media only screen and (max-width:480px) {
    .mktoFormCol {
        width: 100%!important
    }
    .mktoFieldWrap {
        padding-right: 0!important
    }
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    background: #ec2059!important;
    color: #fff!important;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #fff!important;
    border-radius: 4px!important;
    text-align: center!important;
    width: 100%!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    padding-left: 0!important;
    padding-right: 0!important;
    margin-top: 10px!important;
    font-size: 1.5em;
    text-transform: uppercase;
}

button .mktoButton {
    font-size: 2em !important;
}

#PendoLP_modal h1 {
    color: white;
    font-size: 3em;
    font-weight: bold;
    margin-top: 100px;
}

#PendoLP_modal p {
    color: white;
    font-size: 1.7em;
}

.modal-close {
    font-size: 1.4em;
    font-weight: bold;
    margin: 15px;
    color: white;
    float: right;
}