* {
    font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
}

.hero-image {
    background-image: url('../img/HeroImage_plane_green.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    padding: 50px;
    background-position: left top;
}

h1 {
    color: white;
    font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
}

#hero p {
    color: white;
    font-size: 1.5em;
}

.logo-row {
    padding: 40px 50px;
}

.logos {
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button.main-cta {
    background-color: #ec2059;
    border-radius: 4px;
}